<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- &lt;!&ndash; dependent dean config&ndash;&gt;-->
    <!-- <bean id="delhivery" class="org.example.dependant.Delhivery"></bean>-->
    <!-- <bean id="dtdc" class="org.example.dependant.DTDC"></bean>-->
    <!-- &lt;!&ndash; target dean configuration &ndash;&gt;-->
    <!-- <bean id="fkart" class="org.example.target.Flipkart" autowire="byName"></bean>-->
    <!-- Enable annotation-based configuration -->
    <context:annotation-config/>

    <!-- Scan your package for annotated beans -->
    <context:component-scan base-package="org.example"/>

</beans>
